@use '../abstracts/variables';
@use '../abstracts/mixins';


.main-tarifs {
    width: 100%;
    min-height: 65vh;
    background-color: variables.$color-primary;
}

.pricing-section {
    width: 100%;
    min-height: 100%;
}

.pricing-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5vh;
    padding-top: 2vh;
    justify-items: center;
    align-items: flex-start;
}

.pricing-title {
    @include mixins.text-style(variables.$font-playfair, 4rem, variables.$color-secondary);
    padding: 2rem;
    text-align: center;
}

.pricing-card-domicile {
    background-color: variables.$color-tertiary;
    width: 45%;
    border: 0.3vh solid variables.$color-accent;
    border-radius: 16px;

    h3 {
        @include mixins.text-style(variables.$font-josefin, 3rem, variables.$color-secondary);
        padding-left: 0.8vw;
    }

    li {
        @include mixins.text-style(variables.$font-inria, 2rem, variables.$color-secondary);
        padding-bottom: 1vw;
        padding-left: 0.6vw;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.pricing-card-studio {
    background-color: variables.$color-tertiary;
    width: 45%;
    border: 0.3vh solid variables.$color-fond;
    border-radius: 16px;

    h3 {
        @include mixins.text-style(variables.$font-josefin, 3rem, variables.$color-secondary);
        padding-left: 0.8vw;
    }

    li {
        @include mixins.text-style(variables.$font-inria, 2rem, variables.$color-secondary);
        padding-bottom: 1vw;
        padding-left: 0.6vw;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.price {
    @include mixins.text-style(variables.$font-inria, 3rem, variables.$color-secondary, 700);
    padding: 1vw;
}

.header-carte-studio {
    background-color: variables.$color-fond;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.header-carte-domicile {
    background-color: variables.$color-accent;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.price-line-studio {
    height: 0.3vh;
    width: 60%;
    background-color: variables.$color-fond;
}
