// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/variables';
@use '../base/fonts';

header {
    background-color: variables.$color-fond;
    height: 50px;
    width: 100%;
    position: absolute;

    display: flex;
    align-items: center;
}

.phone-number {
    margin: 0;
    padding: 1rem;
    font-family: variables.$font-playfair;
    font-size: 2rem;
    color: variables.$color-primary;
    font-weight: 500;
    margin-left: 30%;
}