// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/variables';
@use '../base/fonts';
@use '../abstracts/mixins';

header {
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$color-primary;
}

.phone-number {
    @include mixins.text-style(variables.$font-winky, 1.8rem, variables.$color-primary);
    text-decoration: none;
}

.topbar {
    background-color: variables.$color-secondary;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.logo-container {
    height: 25vh;
    width: 100vw;
    transform: scale(0.13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    @include mixins.text-style(variables.$font-winky, 1.8rem, variables.$color-primary);
    text-decoration: none;
}

.menu-bar {
    height: 5vh;
    width: 80vw;
    background-color: variables.$color-secondary;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.menu-list {
    height: 5vh;
    width: 75vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu-it a{
    @include mixins.text-style(variables.$font-josefin, 1.6rem, variables.$color-primary);
    text-decoration: none;
    transition: transform 0.1s ease;
    display: inline-block;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: scale(0,97);
    }
}