// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font families
$font-inria: 'Inria Serif', serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-winky: 'Winky Sans', sans-serif;


// Font weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;


// Colors
$color-primary: #F1F7ED;
$color-secondary: #39372F;
$color-tertiary: #0D0630;
$color-accent: #7F95D1;
$color-fond: #DF928F;
