// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font families
$font-inria: 'Inria Serif', serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-winky: 'Winky Sans', sans-serif;


// Font weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;


// Colors
$color-primary: #F1F7ED;
$color-secondary: #39372F;
$color-tertiary: #0D0630;
$color-accent: #7F95D1;
$color-fond: #DF928F;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
